<section class="mt4 mb4 p2 max-width-3 mx-auto">
  <h2 class="mb0">The 3rd edition is here!</h2>
  <p class="mt2 thin">
    The Early Release of the 3rd edition of <em>Terraform: Up & Running</em> is here! The 3rd edition adds about
    100 pages of new content, including two totally new chapters, plus major updates to all the existing chapters:
  </p>
  <ul class="thin">
    <li>New chapter: how to manage secrets with Terraform (KMS, Vault, OIDC, etc)</li>
    <li>New chapter: working with multiple regions, accounts, and clouds (including Kubernetes!).</li>
    <li>All code examples have been updated from Terraform 0.12 to 1.1.</li>
    <li>Provider management with <code>required_providers</code> blocks and the provider lock file.</li>
    <li>Variable validation and <code>sensitive</code> variables.</li>
    <li>Refactoring with <code>moved</code> blocks.</li>
    <li>Using <code>count</code> and <code>for_each</code> with <code>module</code> blocks.</li>
    <li>Policy enforcement using OPA.</li>
    <li>
      And much more! Check out the
      <a href="https://blog.gruntwork.io/terraform-up-running-3rd-edition-early-release-is-now-available-4efd0eb2ce0a">announcement blog post</a>
      for the full details.
    </li>
  </ul>
  <p class="mt2 thin">
    <a href="#read-3rd-edition">Read the Early Release now</a>!
  </p>
</section>