<section class="mt4 mb4 p3 clearfix">
  <h2 class="mb4">About the author</h2>
  <div class="clearfix mxn2">
    <div class="sm-col sm-col-4 mb2 px2">
      {% include image.html path="yevgeniy-brikman.jpg" alt="Yevgeniy Brikman" %}
    </div>
    <div class="sm-col sm-col-8 justify light-gray thin px2">
      <p class="mt0">
        <span class="regular medium-gray">Yevgeniy (Jim) Brikman</span> is the co-founder of
        <a href="http://www.gruntwork.io/?ref=terraform-up-and-running" target="_blank">Gruntwork</a>, a company that
        offers DevOps as a Service. Gruntwork makes extensive use of Terraform to help customers get up and running on
        AWS with DevOps best practices and world-class infrastructure in less than a week.
      </p>
      <p>
        Jim is also the author of another O'Reilly book called
        <a href="http://www.hello-startup.net/?ref=terraform-up-and-running" target="_blank"> Hello, Startup: A
          Programmer's Guide to Building Products, Technologies, and Teams</a>, which has a 4.9/5 rating on Amazon and
        4.5/5 rating on GoodReads. Previously, he worked as a software engineer at LinkedIn, TripAdvisor, Cisco Systems,
        and Thomson Financial and got his BS and Masters at Cornell University. For more info, check out
        <a href="http://www.ybrikman.com/?ref=terraform-up-and-running" target="_blank">ybrikman.com</a>.
      </p>
    </div>
  </div>
</section>
