<section class="mt4 mb4 p4 pb7 clearfix bg-gray-color border-bottom border-top border-gray">
  <div class="max-width-3 mx-auto">
    <h2 class="mb4">About the author</h2>
    <div class="clearfix mxn2">
      <div class="sm-col sm-col-4 mb2 px2">
        {% include image.html path="yevgeniy-brikman.jpg" alt="Yevgeniy Brikman" %}
      </div>
      <div class="sm-col sm-col-8 justify thin px2">
        <p class="mt0">
          <a href="https://www.ybrikman.com/?ref=terraform-up-and-running" class="bold tracked" data-trk="ybrikman-link-about-author-section">Yevgeniy (Jim) Brikman</a> is
          the co-founder of
          <a href="https://www.gruntwork.io/?ref=terraform-up-and-running" target="_blank" class="tracked" data-trk="gruntwork-link-about-author-section">Gruntwork</a>,
          a company that that makes extensive use of Terraform in its products & services for setting up world-class
          DevOps Foundations.
        </p>
        <p>
          Jim is also the author of two other books published by O'Reilly:
          <a href="https://www.fundamentals-of-devops.com/?ref=terraform-up-and-running" target="_blank" class="tracked" data-trk="fundamentals-of-devops-link-about-author-section">Fundamentals of DevOps and Software Delivery</a>,
          a hands-on guide to deploying and managing software in production, and
          <a href="https://www.hello-startup.net/?ref=terraform-up-and-running" target="_blank" class="tracked" data-trk="hello-startup-link-about-author-section">Hello, Startup</a>,
          which is a hands-on guide to building products, technologies, and teams in a startup.
        </p>
        <p>
          Previously, he worked as a software engineer
          at LinkedIn, TripAdvisor, Cisco Systems, and Thomson Financial and got his BS and Masters at Cornell University.
          For more info, check out
          <a href="https://www.ybrikman.com/?ref=terraform-up-and-running" target="_blank" class="tracked" data-trk="click-ybrikman-link-about-author-section">ybrikman.com</a>.
        </p>
      </div>
    </div>
  </div>
</section>
