<section class="mt4 mb4 p2 clearfix max-width-3 mx-auto">
  <h2 class="mb4">About the author</h2>
  <div class="clearfix mxn2">
    <div class="sm-col sm-col-4 mb2 px2">
      {% include image.html path="yevgeniy-brikman.jpg" alt="Yevgeniy Brikman" %}
    </div>
    <div class="sm-col sm-col-8 justify thin px2">
      <p class="mt0">
        <a href="https://www.ybrikman.com/?ref=terraform-up-and-running" class="bold tracked" data-trk="ybrikman-link-about-author-section">Yevgeniy (Jim) Brikman</a> is
        the co-founder of
        <a href="https://www.gruntwork.io/?ref=terraform-up-and-running" target="_blank" class="tracked" data-trk="gruntwork-link-about-author-section">Gruntwork</a>, a company that
        offers DevOps as a Service. Gruntwork makes extensive use of Terraform to help customers get their entire
        infrastructure, defined as code, in about a day.
      </p>
      <p>
        Jim is also the author of another O'Reilly book called
        <a href="https://www.hello-startup.net/?ref=terraform-up-and-running" target="_blank" class="tracked" data-trk="hello-startup-link-about-author-section"> Hello, Startup: A Programmer's Guide to Building Products, Technologies, and Teams</a>,
        which has a 4.9/5 rating on Amazon and 4.5/5 rating on GoodReads. Previously, he worked as a software engineer
        at LinkedIn, TripAdvisor, Cisco Systems, and Thomson Financial and got his BS and Masters at Cornell University.
        For more info, check out
        <a href="https://www.ybrikman.com/?ref=terraform-up-and-running" target="_blank" class="tracked" data-trk="click-ybrikman-link-about-author-section">ybrikman.com</a>.
      </p>
    </div>
  </div>
</section>
