<section class="mt4 mb4 p2 clearfix max-width-3 mx-auto" id="buy-now">
  <h2 class="mb2">Read the Early Release of the 2nd edition</h2>
  <div class="clearfix">
    <div class="col md-col-4">
      <a href="{{ site.early_release_url }}" data-trk="buy-oreilly-early-release-image-get-the-book" data-value="20" target="_blank">
        {% include image.html path="terraform_up&running_2e_cover_early_release_medium.png" alt="Terraform: Up and Running, 2nd edition, early release" %}
      </a>
    </div>
    <div class="col md-col-8 px3">
      <p class="mt0 thin" style="margin-bottom: 35px;">
        The Early Release of <em>{{ site.name }}</em>, 2st edition is available now at
        <a href="{{ site.early_release_url }}" data-trk="buy-oreilly-early-release-text-get-the-book" data-value="20" target="_blank">O'Reilly</a>!
        Be one of the first to get your hands on the book, months ahead of the official release, and help make the
        final version better by sharing your <a href="mailto:jim@ybrikman.com">thoughts, questions, and feedback</a>.
        The 2nd edition is nearly double the length of the 1st edition, including two completely new chapters
        (Production-grade Terraform Code and How to Test Terraform Code), and major updates to all the original
        chapters.
      </p>
      <a href="{{ site.early_release_url }}" class="block border border-gray mr2 rounded height-70 tracked center" style="text-decoration: none !important;" data-trk="buy-oreilly-early-release-button-get-the-book" data-value="20" target="_blank" title="Read the early release of 'Terraform: Up & Running', 2nd edition on O'Reilly">
        <span class="black pr1">Get it at</span>
        {% include image.html path="oreilly-small.png" alt="Read the early release of 'Terraform: Up & Running', 2nd edition on O'Reilly" class="align-middle" %}
      </a>
    </div>
  </div>
</section>
