<section class="mt4 mb4 p4 pb7 clearfix bg-gray-color border-bottom border-top border-gray" id="read-3rd-edition">
  <div class="max-width-3 mx-auto">
    <h2 class="mb2">Read the Early Release of the 3rd edition</h2>
    <div class="clearfix">
      <div class="col md-col-4">
        <a href="{{ site.early_release_url }}" data-trk="buy-oreilly-early-release-image-get-the-book" data-value="20" target="_blank">
          {% include image.html path="terraform-up-running-3rd-edition-early-release-medium.jpeg" alt="Terraform: Up and Running, 3rd edition, early release" %}
        </a>
      </div>
      <div class="col md-col-8 px3">
        <p class="mt0 thin" style="margin-bottom: 35px;">
          The Early Release of <em>{{ site.name }}</em>, 3rd edition is available now on the
          <a href="{{ site.early_release_url }}" data-trk="buy-oreilly-early-release-text-get-the-book" data-value="20" target="_blank">O'Reilly website</a>!
          Be one of the first to get your hands on the book, months ahead of publication, and help make the
          final version better by sharing your <a href="mailto:jim@ybrikman.com">thoughts, questions, and feedback</a>.
          The 3rd edition adds over 100 pages of new content, including two completely new chapters
          (Managing Secrets with Terraform and Working with Multiple Providers), and major updates to all the original
          chapters.
        </p>
        <a href="{{ site.early_release_url }}" class="block border border-gray mr2 rounded height-70 tracked center" style="text-decoration: none !important;" data-trk="buy-oreilly-early-release-button-get-the-book" data-value="20" target="_blank" title="Read the early release of 'Terraform: Up & Running', 3rd edition on the O'Reilly website">
          <span class="black pr1">Get it at</span>
          {% include image.html path="oreilly-small.png" alt="Read the early release of 'Terraform: Up & Running', 3rd edition on the O'Reilly website" class="align-middle" %}
        </a>
      </div>
    </div>
  </div>
</section> 