<section class="mt4 mb4 p3 clearfix">
  <h2 class="mb4">Buy now</h2>
  <div class="clearfix mxn2">
    <div class="sm-col sm-col-4 mb2 px2">
      {% include image.html path="terraform-up-and-running-cover-medium.png" alt="Terraform: Up and Running" %}
    </div>
    <div class="sm-col sm-col-8 justify light-gray thin px2">
      <p class="mt0">
        The <strong>early release</strong> of <em>Terraform: Up & Running</em> is available now at the
        <a href="{{ site.data.stores | map:'url' | first }}" alt="O'Reilly Store">O'Reilly store</a>! With an early
        release, you get access to the book while it's still being written, so you can get started with Terraform
        immediately. You'll receive updates when content is added, as well as the completed book when it's done. The
        books are DRM-free, so you get lifetime access, in multiple file formats, forever.
      </p>
      <p class="mb4">
        This is your chance to be one of the first to own this book and to help make it better. What did you like? What
        did you hate? What's missing? Grab a copy at the link below and send your feedback to
        <a href="{{ site.contact_urls.email.url }}">{{ site.contact_urls.email.value }}</a>.
      </p>
      {% include buy-now.html %}
    </div>
  </div>
</section>
