<section class="mt4 mb4 p2 max-width-3 mx-auto">
  <h2 class="mb0">The 2nd edition is here!</h2>
  <p class="mt2 thin">
    The Early Release of the 2nd edition of <em>Terraform: Up & Running</em> is here! The 2nd edition is nearly double
    the length of the 1st edition (~160 more pages), including two completely new chapters (Production-grade Terraform
    Code and How to Test Terraform Code), and major changes to all the original chapters and code examples to take
    into account 4 major Terraform releases (everything is now updated through Terraform 0.12), the Terraform state
    revamp (including backends, locking, and workspaces), Terraform providers split, Terraform Registry, HCL2, and much
    more. Check out the
    <a href="https://blog.gruntwork.io/terraform-up-running-2nd-edition-early-release-is-now-available-b104fc29783f" target="_blank">2nd edition announcement blog post</a>
    for all the details or <a href="#buy-now">Read the Early Release now</a>!
  </p>
</section>