<section class="pt2 py4 clearfix">
  <div class="max-width-4 mx-auto">
    <div class="lg-col lg-col-6 p3">
      <a href="{{ site.url }}">
        {% include image.html path="terraform-up-and-running-cover-3d-medium-transparent.png" alt="Terraform: Up and Running" %}
      </a>
    </div>
    <div class="lg-col lg-col-6 p3">
      <h1 class="mt0 mb0">Terraform: Up &amp; Running</h1>
      <p class="mt0 medium-gray">By Yevgeniy Brikman</p>
      <p class="justify thin mt0">
        This book is the fastest way to get up and running with Terraform, an open source tool that allows you to define
        your infrastructure as code and to deploy and manage that infrastructure across a variety of cloud providers
        (e.g., AWS, Azure, Google Cloud, DigitalOcean).
      </p>
      <p class="justify thin">
        This is a hands-on-tutorial that not only teaches you DevOps principles, but also walks you through code examples
        that you can try at home. You'll go from deploying a basic "Hello, World" Terraform example all the way up to
        running a full tech stack (server cluster, load balancer, database) that can support a large amount of
        traffic and a large team of developers&mdash;all in the span of just a few chapters.
      </p>
      <p class="justify thin">
        By the time you're done, you'll be ready to use Terraform in the real world.
      </p>
      <p class="mt3">
        {% include buy-now.html id="intro-section" %}
      </p>
    </div>
  </div>
</section>