<section class="mt4 mb4 p3">
  <h2 class="mb0">About the book</h2>
  <p class="mt2 thin">
    This book is for Sysadmins, Operations Engineers, Release Engineers, Site Reliability Engineers, DevOps Engineers,
    Infrastructure Developers, Full Stack Developers, Engineering Managers, CTOs, and anyone else responsible for the
    code <em>after</em> it has been written. If you're the one managing infrastructure, deploying code, configuring
    servers, scaling clusters, backing up data, monitoring apps, and responding to alerts at 3AM, then this book is for
    you.
  </p>
  <p class="mb4 thin">
    Collectively, all of these tasks are usually referred to as "operations." You don't need to already be an
    operations expert to read this book&mdash;a basic familiarity with programming and server-based software (e.g.
    websites) should suffice&mdash;but you should read this book if you want to <em>become</em> an expert in one of the
    most critical aspects of modern operations: managing infrastructure as code. In fact, you'll learn not only how to
    manage infrastructure as code using Terraform, but also how this fits into the overall DevOps world.
  </p>
  <div class="clearfix mxn3 clear-2">
    {% for chapter in site.data.outline %}
      <div class="md-col md-col-6 pr3 mb3">
        <div class="clearfix">
          <span class="fa-stack fa-3x book-blue col col-4">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-{{ chapter.icon }} fa-stack-1x fa-inverse"></i>
          </span>
          <div class="col col-8">
            <h3 class="mt0">Ch {{ forloop.index }}. {{ chapter.title }}</h3>
            <p class="light-gray thin">{{ chapter.description }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
