body {
  font-family: 'Open Sans', sans-serif;
}

h1, .h1 {
  font-size: 2.2rem;
}

h2, .h2 {
  font-size: 2.0rem;
}

.thin {
  font-weight: 100;
}

.no-underline {
  text-decoration: none !important;
}