@for $i from 1 through 5 {
  .clear-#{$i} > *:nth-child(#{$i}n+1) {
    clear: both;
  }
}

.height-70 {
  height: 70px;
  line-height: 70px
}

.pb5  { padding-bottom: 5rem }
.pb6  { padding-bottom: 6rem }
.pb7  { padding-bottom: 7rem }
